body{
    padding:2rem;
    font-family:Arial, Helvetica, sans-serif;
    background:rgb(145, 204, 232);

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
    font-size: 50px;
    margin-bottom:32px;
}

.container{
    display:flex;
    flex-wrap:wrap;

    justify-content:center;
    align-items:stretch;
    gap: 28px;
}

.different-plan{
    flex: 1 1 250px;
    background-color: antiquewhite;
    border-radius:12px;
    padding: 35px;
    max-width:300px;
    box-shadow:0 6px 12px rgba(0,0,0,0.2);
    transition:all 0.2s ease;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.button{
    display:inline-block;
    border-radius:6px;
    text-decoration: none;
    padding:8px 10px;
    transition: background 0.3s ease;
    background-color: aliceblue;

}
.button:hover{
    background-color: #856de9;

}
.different-plan:hover{
    transform: translateY(-6px);
    box-shadow:0 8px 20px rgba(0,0,0,0.2);

}
@media(max-width: 768px){
    .different-plan{
        flex-direction:column;
        align-items:center;
    }
}
li{
    padding:8px;
    text-align: left;
    font-family:  "PT Serif", serif;
    font-size: 25px;
    font-weight: 400;
}
h2{
    margin-bottom:10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 30px;
    
}