<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Responsive Image Gallery</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <section class="image-gallery">
    <div class="gallery-item">
      <img src="p1.png" alt="P_1">
    </div>
    <div class="gallery-item">
      <img src="p2.jpg" alt="P_2">
    </div>
    <div class="gallery-item">
      <img src="p3.jpg" alt="P_3">
    </div>
    <div class="gallery-item">
      <img src="p4.jpg" alt="P_4">
    </div>
    <div class="gallery-item">
      <img src="p5.jpg" alt="P_5">
    </div>
    <div class="gallery-item">
      <img src="p6.jpg" alt="P_6">
    </div>
  </section>
</body>
</html>