<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing Table</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="price-table">
        <h1 class="plans">PRICING PLANS</h1>
        <div class="container">
            <div class="different-plan">
            <h2>BASIC</h2>
            <p class="price"></p>
                <ul>
                    <li>5 Projects</li>
                    <li>10 GB Storage</li>
                    <li>Community Support</li>
                </ul>
                <a href="#" class="button">CHOOSE PLAN</a>
            </div>

            <div class="different-plan">
            <h2>STANDARD</h2>
            <p class="price"></p>
                <ul>
                    <li>20 Projects</li>
                    <li>100GB Storage</li>
                    <li>Email support</li>
                </ul>
                <a href="#" class="button">CHOOSE PLAN</a>
            </div>

            <div class="different-plan">
            <h2>PREMIUM</h2>
            <p class="price"></p>
                <ul>
                    <li>Unlimited Projects</li>
                    <li>1TB Storage</li>
                    <li>Custom Domain + Priority Support</li>
                </ul>
                <a href="#" class="button">CHOOSE PLAN</a>
            </div>

        </div>
    </section>
</body>
</html>